* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(114, 114, 114);
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: rgb(229, 229, 229) 1px solid;
}

#site-information span {
    font-size: 2.5em;
}

#site-information a {
    font-weight: 500;
}

#site-information p {
    font-size: 1.5em;
    margin: 0px;
}

#site-navigation ul{
    padding: 0;
}

#site-navigation ul li{
    font-size: 1.5em;
    display: inline-block;
    padding: 0 0.3em;
    cursor: pointer;
}

#site-navigation button{
    font-size: 0.8em;
    color: white;
    background: #6bddfb;
    font-weight: 500;
    padding: 0.4em;
    border: #6bddfb 2px solid;
    border-radius: 3px;
    cursor: pointer;
    transition: 100ms;
}

#site-navigation button:hover{
    color: #6bddfb;
    border: #6bddfb 2px solid;
    background-color: transparent;
}

#site-navigation ul:first-child{
    font-size: 10px;
    cursor: pointer;
    margin: 0;
}
/* #site-navigation (removed) */
li.active a{
    color: #007997;
    font-weight: 500;
}

#site-navigation li.active button{
    color: #6bddfb;
    border: #6bddfb 2px solid;
    background-color: transparent;
}

/** Override @media */ 
.mobile-menu {
    display: none;
}

/** Mobile Menu */

.mobile-menu li:hover path,
.mobile-menu li.active path,
.mobile-menu li:hover,
.mobile-menu li.active
{
    fill: #007997;
    color: #007997;
    cursor: pointer;
}

.mobile-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
} 

.mobile-menu ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    justify-content: space-around;
    border-top: rgb(229, 229, 229) 1px solid;
    box-shadow: 0px -7px 13px -16px;
}

.mobile-menu li{
    font-weight: 500;
}

#mobile-change-language ul{
list-style-type: none;
text-align: center;
}

#mobile-change-language li:first-child{
    font-weight: 500;
}

#mobile-change-language li{
    padding: 0.3em 0px;
}

/** Content styling */

#blog-content{
    padding: 2em;
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 2fr));
    align-items: center;
    align-content: center;
    justify-items: center;
}

.blog-overview {
    width: 250px;
    padding: 1.5em;
    border: rgb(229, 229, 229) 1.5px solid;
    border-radius: 5px;
}

.blog-overview img {
    width: inherit;
}

.blog-overview h2 {
    font-size: 2em;
    margin: 3px 0px;
}

.blog-overview p {
    font-size: 1.2em;
    margin: 3px 0px;
}

.blog-overview button {
    font-size: 1.2em;
    width: 100%;
    margin: 10px 0;
    font-weight: 500;
    padding: 0.4em;
    color: white;
    background: #6bddfb;
    border: #6bddfb 2px solid;
    border-radius: 3px;
    cursor: pointer;
    transition: 100ms;
}

.blog-overview button:hover {
    color: #6bddfb;
    border: #6bddfb 2px solid;
    background-color: transparent;
}

#no-lang-err{
    color: white;
    background-color: red;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
}
#no-lang-err strong{
    font-weight: 600;
}

/** Post Show Content */

#post-content{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background-color: white;
    text-align: center;
    display: none;
    transition: opacity 0.5s ease-out;
}

#post-content.show{
    display: block;
}

#post-content ol{
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
}

#post-content #exit{
    position: absolute;
    cursor: pointer;
    top: 1;
    right: 2em;
}

#post-content a {
    font-weight: 900;
}

#post-content img {
    max-width: 100%;
    width: auto;
}

#post-content h1{
    font-size: 3em;
}

#post-content #inner-content{
    margin: 2em;
    font-size: 1.5em;
}

/** page/header Navigation Section */

#pageNav{
    font-size: 1.5em;
    text-align: center;
}

#pageNav p{
    margin: auto 25%;
}

/** Login Styleing */

#login h1,h2,h3{
 font-size: 2.7em;
}
#login p, span, input, button{
    font-size: 1.3em;
}

#login {
    width: 30%;
    margin: auto auto;
    padding: 2em;
    text-align: center;
    border-radius: 5px;
}

#login h3{
    font-weight: 500;
    margin: 0;
}

#login p{
    margin: 0.5em;
}

#login input {
    display: block;
    width: -webkit-fill-available;
    margin: 10px;
    padding: 0.6em 0.5em;
    outline-style: none;
    border: 1px solid #dee2e6;
    border-radius: 3px;
}

#login input:hover{
    border-color: #adb5bd;
}

#login input:focus{
    border-color: #48cae4;
}

#login button{
    width: auto;
    margin: 1em;
    padding: 0.3em 2em;
    border: none;
    border-radius: 3px;
    background-color: #48cae4;
    color: white;
    cursor: pointer;
}

#login button:hover{
background-color: #0096c7;
}

@media (max-width: 540px) {
    #site-navigation {
        display: none;
    }
    #site-information {
        padding-bottom: 0.6em;
    }
    #site-information p {
        text-align: center;
    }
    .mobile-menu {
        display: block;
    }
    #pageNav{
        margin-bottom: 5em;
    }
    #pageNav p{
        margin: auto 8%;
    }
}
