:root{
    --h1-size: 2.5em;
    --h2-size: 2em;
    --p-size: 1.5em;
    --span-size: 1.2em;
    --default-color: #6bddfb;
    --default-color-hover: #007997;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(114, 114, 114);
}

strong{
    font-weight: 500;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: rgb(229, 229, 229) 1px solid;
}

#site-information h1 {
    font-size: var(--h1-size);
    font-weight: 500;
    margin: 0;
}

#site-information h1 a{
    font-weight: 500;
}

#site-information p {
    font-size: var(--p-size);
    margin: 0px;
}

/** Language select section (English - German - ...) */

li.active a{
    color: var(--default-color-hover);
    font-weight: 500;
}

#site-navigation li.active button{
    color: var(--default-color);;
    border: var(--default-color) 2px solid;
    background-color: transparent;
}

/** The page navigiation section (Blog - About - ..)*/

#site-navigation ul{
    padding: 0;
}

#site-navigation ul li{
    font-size: var(--p-size);
    display: inline-block;
    padding: 0 0.3em;
    cursor: pointer;
}

#site-navigation button{
    color: white;
    background: var(--default-color);
    border: var(--default-color) 2px solid;
    border-radius: 3px;
    padding: 0.4em;
    font-size: 0.8em;
    font-weight: 500;
    transition: 100ms;
    cursor: pointer;
}

#site-navigation button:hover{
    color: var(--default-color);
    border: var(--default-color) 2px solid;
    background-color: transparent;
}

#site-navigation ul:first-child{
    font-size: 10px;
    cursor: pointer;
    margin: 0;
}


/** Mobile Menu */

.mobile-menu {
    display: none;
}

.mobile-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
} 

.mobile-menu li:hover path,
.mobile-menu li.active path,
.mobile-menu li:hover,
.mobile-menu li.active
{
    cursor: pointer;
    fill: var(--default-color-hover);
    color: var(--default-color-hover);
}

.mobile-menu ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    border-top: rgb(229, 229, 229) 1px solid;
    box-shadow: 0px -7px 13px -16px;
}

.mobile-menu li{
    font-weight: 500;
}

/** Mobile change langauge page */

#mobile-change-language ul{
list-style-type: none;
text-align: center;
}

#mobile-change-language li:first-child{
    font-weight: 500;
}

#mobile-change-language li{
    padding: 0.3em 0px;
}

/** Blog Content styling */

#blog-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 2fr));
    align-items: center;
    align-content: center;
    justify-items: center;
    gap: 5em;
    padding: 2em;
}

.blog-overview {
    width: 250px;
    padding: 1.5em;
    border: rgb(229, 229, 229) 1.5px solid;
    border-radius: 5px;
}

.blog-overview img {
    width: inherit;
}

.blog-overview h2 {
    font-size: var(--h2-size);
    margin: 3px 0px;
}

.blog-overview p {
    font-size: var(--span-size);
    margin: 3px 0px;
}

.blog-overview button {
    width: 100%;
    margin: 10px 0;
    font-size: var(--span-size);
    font-weight: 500;
    padding: 0.4em;
    color: white;
    background: var(--default-color);
    border: var(--default-color) 2px solid;
    border-radius: 3px;
    transition: 100ms;
    cursor: pointer;
}

.blog-overview button:hover {
    color: var(--default-color);
    border: var(--default-color) 2px solid;
    background-color: transparent;
}

#no-lang-err{
    color: white;
    background-color: red;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
}

/** Post Show Content */

#post-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    overflow: hidden;
    background-color: white;
    text-align: center;
    display: none;
    transition: opacity 0.5s ease-out;
}

#post-content.show{
    display: block;
}

#post-content ol{
    font-size: var(--p-size);
    list-style-type: none;
    padding: 0;
}

#post-content #exit{
    position: absolute;
    cursor: pointer;
    top: 1;
    right: 2em;
}

#post-content #exit a{
font-weight: 900;
}

#post-content img {
    max-width: 100%;
    width: auto;
}

#post-content h1{
    font-size: var(--h1-size);
}

#post-content #inner-content{
    font-size: var(--span-size);
    margin: 2em;
}

/** Page navigation content area Blog->content.. */

#pageNav{
    font-size: var(--span-size);
    text-align: center;
}

#pageNav h1{
    font-size: var(--h2-size);
}

#pageNav p{
    margin: auto 25%;
}

/** Login section */

#login h1,h2,h3{
 font-size: var(--h1-size);
 font-weight: 500;
 margin: 0;
}

#login p, span, input, button{
    font-size: var(--p-size);
}

#login {
    width: 30%;
    padding: 2em;
    margin: auto auto;
    text-align: center;
    border-radius: 5px;
}

#login p{
    margin: 0.5em;
}

#login input {
    display: block;
    width: -webkit-fill-available;
    margin: 10px;
    padding: 0.6em 0.5em;
    outline-style: none;
    border: 1px solid #dee2e6;
    border-radius: 3px;
}

#login input:hover{
    border-color: #adb5bd;
}

#login input:focus{
    border-color: var(--default-color-hover);
}

#login button{
    width: auto;
    border: none;
    color: white;
    margin: 1em;
    padding: 0.3em 2em;
    border-radius: 3px;
    background-color: var(--default-color);
    cursor: pointer;
}

#login button:hover{
background-color: var(--default-color-hover);
}

#logged-user{
font-size: var(--p-size);
text-align: center;
}

@media (max-width: 540px) {
    #site-navigation {
        display: none;
    }
    #site-information {
        padding-bottom: 0.6em;
    }
    #site-information p {
        text-align: center;
    }
    .mobile-menu {
        display: block;
    }
    #pageNav{
        margin-bottom: 5em;
    }
    #pageNav p{
        margin: auto 8%;
    }
}
